path.rp-branch {
  transition: all 0.2s;
  fill: none;
  shape-rendering: crispEdges;
}

text.rp-label {
  font-family: Courier;
  font-size: 14px;
  transition: all 0.2s;
}

.rp-branch-tracer {
  stroke: #bbb;
  stroke-dasharray: 3,4;
  stroke-width: 1px;
}

path.rp-branch:hover {
  stroke-width: 10px;
}

.phylotree-application {
  display: flex;
  flex-direction: column;
  align-items: left; /* Center align items horizontally */
}

.file-input-container {
  margin: 10px; /* Adjust spacing as needed */
}

.file-input-container button {
  border-radius: 3px;
  padding: 1px 10px;
  border: 1px solid #767676;
  background-color: #EFEFEF;
  cursor: pointer;
}

.file-input-container button:hover{
  border: 1px solid #505050;
  background-color: #E5E5E5;
}

.button-group-container {
  margin: 10px;
}

circle {
  fill: #ffffff;
  cursor: pointer;
  stroke: grey;
  stroke-width: 1.2;
  z-index: 10;
  transition: 0.2s;
}

circle.hovered {
  fill: grey;
}